<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" type = "text/css">-->
    <link rel="stylesheet" type="text/css" href="/js/remove_later.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=latin-ext" rel="stylesheet">
<!--    <link href="http://akudama.pl/remote/style.css" rel="stylesheet">-->
</head>
<body>
    ...
</body>
</html>
