<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
    <div th:fragment="menu" class="menu">
        <div class="dropdown">
            <a href="/"><button class="dropbtn">Home</button></a>
        </div>
        <div class="dropdown">
            <a href="/authors"><button class="dropbtn">Authors</button></a>
            <div class="dropdown-content">
                <a href="/author">Add</a>
<!--                <a href="/authors">List</a>-->
            </div>
        </div>
        <div class="dropdown">
            <a href="/books"><button class="dropbtn">Books</button></a>
            <div class="dropdown-content">
                <a href="/book">Add</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/forms"><button class="dropbtn">Forms</button></a>
            <div class="dropdown-content">
                <a href="/form">Add</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/langs"><button class="dropbtn">Languages</button></a>
            <div class="dropdown-content">
                <a href="/lang">Add</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/collections"><button class="dropbtn">Collection</button></a>
        </div>
        <div class="dropdown">
            <a href="/swagger-ui.html"><button class="dropbtn">API</button></a>
        </div>
    </div>
    ...
</body>
</html>
