<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<h1 class="bk-heading bk-heading--main">Own-library</h1>

<main class="crud container">
    <section class="datatable">
        <h2>Books</h2>
        <div class="grid-container header" data-datatable-row-header>
            <div class="grid-item">No</div>
            <div class="grid-item">Title</div>
            <div class="grid-item">Title [ENG]</div>
            <div class="grid-item">Series</div>
            <div class="grid-item">Genre</div>
            <div class="grid-item">Published</div>
            <div class="grid-item">Authors</div>
            <div class="grid-item">Collection</div>
            <div class="grid-item">Action</div>
        </div>
        <div class="datatable__tasks-container" data-tasks-container></div>
    </section>
</main>

<div class="template">
    <div class="grid-container" data-datatable-row-template>
        <div class="grid-item" data-task-counter><p class="datatable__field-value" data-task-counter-paragraph></p></div>
        <div class="grid-item" data-task-title-section><p class="datatable__field-value" data-task-title-paragraph></p></div>
        <div class="grid-item" data-task-titleENG-section><p class="datatable__field-value" data-task-titleENG-paragraph></p></div>
        <div class="grid-item" data-task-series-section><p class="datatable__field-value" data-task-series-paragraph></p></div>
        <div class="grid-item" data-task-genre-section><p class="datatable__field-value" data-task-genre-paragraph></p></div>
        <div class="grid-item" data-task-year-section><p class="datatable__field-value" data-task-year-paragraph></p></div>
        <div class="grid-item" ><p><a href="#" data-task-authors-section data-task-id="0"><img th:src="@{/img/icon-authors.png}" height="22" width="22"/></a></p></div>
        <div class="grid-item" >
            <p>
                <a href="#" data-task-addtocollection-section><img th:src="@{/img/plus.png}" height="22" width="22"/></a>
                <a href="#" data-task-removefromcollection-section><img th:src="@{/img/minus.png}" height="22" width="22"/></a>
            </p>
        </div>
        <fieldset class="datatable__row-section datatable__row-section--button-section">
            <button type="button" data-task-edit-button class="datatable__button">Edit</button>
            <div class="grid-item"><button type="button" data-task-delete-button class="datatable__button">Delete</button></div>
        </fieldset>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2019 The Static Templates</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>
