<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<h1 class="bk-heading bk-heading--main">Own-library</h1>

<main class="crud container">
    <section class="datatable">
        <div><h1>Welcome to home book library :)</h1></div>
    </section>
</main>
<div th:replace="fragments/footer :: footer">&copy; 2019 The Static Templates</div>
<script th:src="@{js/jquery-3.3.1.min.js}"></script>
<script th:src="@{js/script.js}"></script>

</body>
</html>
